.step {
  position: relative;
  min-height: 32px /* circle-size */;
}

  .step .step-body {
    padding-bottom: 25px;
  }

  .step > div:first-child {
    position: static;
    height: 0;
  }

  .step > div:last-child {
    margin-left: 32px;
    padding-left: 16px;
  }

.step .step-circle {
  background: /*#F39C12*/ #222d32;
  opacity: .9;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  position: relative;
  color: white;
  text-align: center;
}

.step .step-line {
  position: absolute;
  border-left: 1px solid gainsboro;
  left: 16px;
  bottom: 10px;
  top: 42px;
}

.step:last-child .step-line {
  display: none;
}

.step-title {
  line-height: 32px;
  font-weight: bold;
}

@media (max-width: 575px) {
  .step .step-line {
    display: none;
  }
  .step .step-body {
    margin-left: -36px;
    margin-top:16px;
  }
}