@{
  ViewData["Title"] = "Home";
}

<script type="text/ng-template" id="/listItem.tpl">
  <!-- <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}"> -->
  <div class="md-list-item-text">
    <h3>{{task.title}}{{task.tester ? (task.progress ? (task.progress == 1 ? ' - In Progress' : ' - Done') : '') : ''}}</h3>
    <p>{{task.summary}}</p>
  </div>
</script>
<div ng-controller="MeCtrl" layout="column" flex layout-fill class="ng-cloak">
  <p style="padding-left:16px" ng-show="data.user.id != authMemberId">{{data.user.name}}</p>
  <md-content flex>
    <section>
      <md-subheader class="md-primary">Personal Information</md-subheader>
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="task in tasks | filter: { category: 'personal' } | filter: completedFilter(false)" aria-label="{{'Task: ' + task.title}}" ng-click="null">
          <ng-include src="'/listItem.tpl'"></ng-include>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-primary">Available Tasks</md-subheader>
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="task in tasks | filter: { category: '!personal', blocked: false } | filter: completedFilter(false)" aria-label="{{'Task: ' + task.title}}" ng-click="null">
          <ng-include src="'/listItem.tpl'"></ng-include>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-primary">Blocked Tasks</md-subheader>
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="task in tasks | filter: { category: '!personal', blocked: true } | filter: completedFilter(false)" aria-label="{{'Task: ' + task.title}}" ng-click="null">
          <ng-include src="'/listItem.tpl'"></ng-include>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-primary">Completed Tasks</md-subheader>
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="task in tasks | filter: completedFilter(true)" aria-label="{{'Task: ' + task.title}}" ng-click="null">
          <ng-include src="'/listItem.tpl'"></ng-include>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</div>