@{
  ViewData["Title"] = "Home";
}

<div layout="column" layout-align="center stretch" style="max-width:800px; margin:0 auto; padding-top:15px" ng-controller="HomeCtrl">
  <jk-carousel data="pics" item-template-url="'slides.html'" auto-slide="true" auto-slide-time="6000" max-width="800" max-height="400"> </jk-carousel>
  <div layout-padding>
    <p>
      Welcome to King County Explorer Search and Rescue's (ESAR's) basic training program. Our series of trainings will
      cover everything necessary to start participating in search and rescue missions in King County and across Washington
      State. Previous training in search and rescue techniques is not required and we'll cover the basics of outdoor travel,
      navigation and first aid.</p>
    <p>In order to participate in our training please use the sign up form and start tracking your progress.</p>
    <div layout="row" layout-xs="column" layout-align="center stretch">
      <div flex flex-gt-xs="40" layout="column">
        <md-button ng-href="@Url.Content("~/me")" class="md-primary md-raised" flex>Existing trainees</md-button>
      </div>
      <div flex flex-gt-xs="40" layout="column">
        <md-button ng-href="@Url.Content("~/signup")" class="md-raised" flex>Sign up</md-button>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="slides.html">
  <img src="@Url.Content("~"){{slideItem.src}}" />
</script>
