@{
  ViewData["Title"] = "Sign Up";
}
<div layout-padding ng-controller="SignupCtrl">
  <p>
    <strong>
      If you are already a member of another King County SAR unit, contact <a href="mailto:database@kcesar.org">database@kcesar.org</a> instead of
      using this form
    </strong>
  </p>
  <form name="signupForm" ng-submit="postSignup()">
    <section class="step">
      <div>
        <div class="circle">1</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">Personal Information</div>
        <div class="body">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>First name</label>
              <input ng-model="user.first" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Middle name</label>
              <input ng-model="user.middle">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Last name</label>
              <input ng-model="user.last" required>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block">
              <label>Email</label>
              <input ng-model="user.email" type="email" required>
            </md-input-container>
          </div>
          <div layout="row">
            <md-datepicker ng-model="user.birthdate" md-placeholder="Birth date" required>
            </md-datepicker>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex="50" flex-gt-xs="20">
              <label>Gender</label>
              <md-select ng-model="user.gender">
                <md-option value="male">Male</md-option>
                <md-option value="female">Female</md-option>
                <md-option>Other / Undisclosed</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
    </section>
    <section class="step">
      <div>
        <div class="circle">2</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">Login Information</div>
        <div class="body">
          <div>
            <p>
              Some of our systems require you to log in with a username and password. Use the fields below to
              create an account. In later steps you'll be able to link this account to a Facebook or Google account.
            </p>
          </div>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block">
            <label>Username</label>
            <input name="username" ng-model="user.username" required minlength="3" maxlength="25" username-available-validator>
            <div ng-messages="signupForm.username.$error" ng-if="signupForm.username.$touched">
              <div ng-message="required">Required</div>
              <div ng-message="minlength">Must be 3 or more characters</div>
              <div ng-message="maxlength">Too long</div>
              <div ng-message="usernameAvailable">Username not available</div>
            </div>
            <div ng-if="signupForm.username.$pending">
              Checking Username...
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" required minlength="6" maxlength="50">
            <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
              <div ng-message="required">Required</div>
              <div ng-message="minlength">Must be 6 or more characters</div>
              <div ng-message="maxlength">Too long</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block">
            <label>Confirm Password</label>
            <input type="password" name="passwordConfirm" ng-model="user.passwordConfirm" compare-to="user.password">
            <div ng-messages="signupForm.passwordConfirm.$error" ng-if="signupForm.passwordConfirm.$touched">
              <div ng-message="compareTo">Doesn't match password</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </section>
    <section class="step">
      <div>
        <div class="circle">3</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">Create Account</div>
        <div class="body" flex>
          <div flex>
            <p>
              Click the button below to sign up as a trainee with King County Explorer Search and Rescue. You'll then be able to sign in using
              the username and password specified above to track your progress through the training season.
            </p>
            <md-button ng-disabled="!signupForm.$valid && signupForm.$pending" type="submit" class="md-primary md-raised">Sign Up</md-button>
            <div ng-show="signupForm.$pending">Working ...</div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>