@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  [flex]
   { flex: 1 1 auto; }
}


.jk-carousel .md-icon-button md-icon {
  opacity: .5;
  font-size: 35px;
}

.jk-carousel .radio-buttons-container md-radio-button .md-on,
.jk-carousel .radio-buttons-container md-radio-button .md-off {
  opacity: 0.4;
  width:15px;
  height:15px;
}

/* Vertical stepper */
.step {
  position: relative;
  min-height: 32px /* circle-size */;
}

  .step .body {
    padding-bottom: 25px;
  }

  .step > div:first-child {
    position: static;
    height: 0;
  }

  .step > div:last-child {
    margin-left: 32px;
    padding-left: 16px;
  }

.circle {
  background: /*#F39C12*/ #222d32;
  opacity: .9;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  position: relative;
  color: white;
  text-align: center;
}

.line {
  position: absolute;
  border-left: 1px solid gainsboro;
  left: 16px;
  bottom: 10px;
  top: 42px;
}

.step:last-child .line {
  display: none;
}

.title {
  line-height: 32px;
  font-weight: bold;
}
/* end vertical stepper */

.sar-dialog {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}
.sar-dialog-content {
  padding: 0 15px;
  width: 100%;
}
